* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}


/*************************************************************** Dark screen ***************************************************/
body {
    background: #333333;
    /* background: linear-gradient(#ffffff, #ccccff); */
    overflow: hidden;
}


.calc-body  {
    margin: 0 auto;
    position: relative;
    top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
    align-items: center;
    width: 280px;
    height: 600px;
    background: linear-gradient(#616060 0%, #1a1919 100%);
    border: 1px solid #333;
    border-radius: 25px;
    box-shadow: 0 15px 35px rgba(1, 1, 1, 0.25);
}

/* Output area css */
.output-area {
    position: relative;
    top: 40px;
    height: 30%;
    width: 100%;
    color: #999999;
    text-align: right;
    margin-top: 50px;
}

.output-area * {
    padding-bottom: 5px;
}

.output-area .old-calc2 {
    position: relative;
    right: 20px;
    top: -65px;
    font-size: 17px;
    opacity: 0.5;
}

.output-area .old-calc1 {
    position: relative;
    top: -64px;
    right: 20px;
    font-size: 20px;
    opacity: 0.8;
}

.output-area .current-calc {
    position: relative;
    top: -62px;
    right: 20px;
    font-size: 22px;
    opacity: 1;
}

.output-area .current-calc-ans {
    position: relative;
    top: -60px;
    padding: 0 10px;
    font-size: 22px;
    color: white;
    overflow: auto;
    display: flex;
    flex-flow: row-reverse wrap;
    word-spacing: 20px;
}

.current-calc-ans::-webkit-scrollbar{
    width: 0;
}

/* Output area css ends */

/* keypad-area css */

.keypad-area{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.btn-row > .btn {
    position: relative;
    width: 55px;
    height: 50px;
    border-radius: 45%;
    padding: 12px 12px;
    margin-bottom: 5px;
    font-size: 14px;
    margin-left: 3px;
    box-shadow:-3px -2px 8px rgba(63, 61, 61, 0.795);
    border-left: 1px solid rgb(92, 88, 88);
    cursor: pointer;
} 

.btn-row > .btn:hover {
    transition: 0.5ms;
    transform: scale(1.1);
} 

.btn-orange {
    background-color: #ffcc33;
    color: #fff;
    font-size: 20px !important;
}

.btn-lt-orange {
    background-color: #665932;
    color: #ffcc33;

}

.btn-violet {
    background-color: #5b2177;
    color: #999;
}

.btn-violet-dp {
    position: relative;
    bottom: 50px;
    right: 0;
    border-radius: 25px !important;
    min-height: 100px;
    background-color: #9933cc;
    color: #fff;
    font-size: 30px !important;
}

button.btn.btn-btn {
    position: relative;
    bottom: 27px;
}

.btn-black {
    background-color: #444141;
    color: #c7bebe;
}

.btn-black-dp {
    background-color: rgb(36, 34, 34);
    color: #999;
}

.fa-delete-left{
    width: 100%;
    color: #c7bebe;
}
/* keypad-area css End */

/****************************** Dark screen ********************************/